
html {
    height: 100%;
}

body {
    height: 97%; 
}

#viewColumnsContent {
    height: 100%;
}

#form1 {
    height: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#wrapper >tbody >tr:nth-child(3) {
    height: 100%;
}

td.bookColumn {
    vertical-align: top;
}

table.viewColumns {
    height: 100%;
    width: 100%;
}

table.viewColumns tr {
    height: 100%;
    width: 100%;
}

